# Cameron Chow

## Research question/interests

I am mainly interested in the relationship between the victims being armed vs their race. I believe that analyzing this relationship could determine how much bias played in these deaths. In addition to this, the mental state of the victims is another area of interest to me.

In [ ]:
import pandas as pd
import numpy as nd

In [ ]:
pd.__version__

'1.4.3'

In [ ]:
dataFrame = pd.read_csv('../data/raw/data.csv',encoding="ISO-8859-1")

In [ ]:
dataFrame

,UID,Name,Age,Gender,Race,Date,City,State,Manner_of_death,Armed,Mental_illness,Flee
0,133,Karen O. Chin,44.0,Female,Asian,5/4/2000,Alameda,CA,Shot,NaN,False,False
1,169,Chyraphone Komvongsa,26.0,Male,Asian,6/2/2000,Fresno,CA,Shot,NaN,False,False
2,257,Ming Chinh Ly,36.0,Male,Asian,8/13/2000,Rosemead,CA,Shot,Gun,False,False
3,483,Kinh Quoc Dao,29.0,Male,Asian,2/9/2001,Valley Glen,CA,Shot,Gun,False,False
4,655,Vanpaseuth Phaisouphanh,25.0,Male,Asian,6/10/2001,Riverside,CA,Shot,Knife,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
12486,12388,Name withheld by police,NaN,Male,NaN,12/9/2008,Sacramento,CA,Other,NaN,False,False
12487,12429,Gene Lovell Ford,48.0,Male,NaN,8/6/2008,Sacramento,CA,Other,NaN,True,False
12488,12430,Jose Vega,38.0,Male,NaN,8/6/2008,Visalia,CA,Other,NaN,True,False
12489,12636,Humberto Torres,41.0,Male,NaN,3/21/2009,Delano,CA,Other,Gun,False,False
12490,12861,Name withheld by police,39.0,Male,NaN,1/15/2010,Los Angeles,CA,Other,NaN,False,False

## EDA: Description of the Dataset

This Dataset, created by the user Chris Awram, focuses on people killed in the US by the police force between 2000-2016. He used three sources, https://fatalencounters.org/, https://www.gunviolencearchive.org/, and another Data World dataset whose source was https://github.com/washingtonpost/data-police-shootings.

In [ ]:
#imported packages 

import pandas as pd
import numpy as np
import seaborn as sns
import os
import matplotlib.pyplot as plt

In [ ]:
pd.__version__

'1.4.3'

## Loading the Data

In [ ]:
df = pd.read_csv('../data/raw/data.csv',encoding="ISO-8859-1")

In [ ]:
df.info() # Allows me to find the three columns I would like to focus on

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12491 entries, 0 to 12490
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UID              12491 non-null  int64
 1   Name             12491 non-null  object
 2   Age              12258 non-null  float64
 3   Gender           12483 non-null  object
 4   Race             8526 non-null   object
 5   Date             12491 non-null  object
 6   City             12487 non-null  object
 7   State            12491 non-null  object
 8   Manner_of_death  12491 non-null  object
 9   Armed            6814 non-null   object
 10  Mental_illness   12491 non-null  bool
 11  Flee             12491 non-null  bool
dtypes: bool(2), float64(1), int64(1), object(8)
memory usage: 1000.4+ KB

In [ ]:
#Preview of what the Dataset looks like
df.head()

,UID,Name,Age,Gender,Race,Date,City,State,Manner_of_death,Armed,Mental_illness,Flee
0,133,Karen O. Chin,44.0,Female,Asian,5/4/2000,Alameda,CA,Shot,NaN,False,False
1,169,Chyraphone Komvongsa,26.0,Male,Asian,6/2/2000,Fresno,CA,Shot,NaN,False,False
2,257,Ming Chinh Ly,36.0,Male,Asian,8/13/2000,Rosemead,CA,Shot,Gun,False,False
3,483,Kinh Quoc Dao,29.0,Male,Asian,2/9/2001,Valley Glen,CA,Shot,Gun,False,False
4,655,Vanpaseuth Phaisouphanh,25.0,Male,Asian,6/10/2001,Riverside,CA,Shot,Knife,False,False

# Columns Chosen: Gender, Race, State

In [ ]:
# Description of the Gender Column
df["Gender"].describe()

count     12491
unique        3
top        Male
freq      11870
Name: Gender, dtype: object

In [ ]:
#Unique Genders of Individuals
df['Gender'].value_counts(dropna=False)

Male      8075
Female     448
NaN          3
Name: Gender, dtype: int64

In [ ]:
#Description of the Race Column
df["Race"].describe()

count      8526
unique        6
top       White
freq       3855
Name: Race, dtype: object

In [ ]:
# Unique Races of individuals
df['Race'].value_counts(dropna=False)

White       3854
Black       2535
Hispanic    1783
Asian        173
Native       130
Other         48
Name: Race, dtype: int64

In [ ]:
#Description of the State Column
df["State"].describe()

count     8523
unique      51
top         CA
freq      2023
Name: State, dtype: object

In [ ]:
#Unique States
df['State'].value_counts(dropna=False)

CA    2023
TX     927
FL     549
AZ     333
WA     248
NV     242
NY     235
LA     233
NC     190
OH     190
IL     188
GA     187
AL     186
CO     179
MN     161
MO     157
OR     142
OK     138
TN     130
PA     122
VA     116
NM     106
MI     105
MD     104
SC     103
UT     101
MS      95
IN      88
NJ      85
WI      85
MA      82
KY      78
KS      75
CT      67
ID      63
AR      52
NE      44
WV      36
AK      33
DC      32
IA      31
MT      31
SD      29
ME      26
WY      21
DE      16
NH      16
VT      13
HI      12
RI      10
ND       8
Name: State, dtype: int64

In [ ]:
df = df.dropna(subset = ['Race'])
df = df.dropna(subset = ['Gender'])
df

,UID,Name,Age,Gender,Race,Date,City,State,Manner_of_death,Armed,Mental_illness,Flee
0,133,Karen O. Chin,44.0,Female,Asian,5/4/2000,Alameda,CA,Shot,NaN,False,False
1,169,Chyraphone Komvongsa,26.0,Male,Asian,6/2/2000,Fresno,CA,Shot,NaN,False,False
2,257,Ming Chinh Ly,36.0,Male,Asian,8/13/2000,Rosemead,CA,Shot,Gun,False,False
3,483,Kinh Quoc Dao,29.0,Male,Asian,2/9/2001,Valley Glen,CA,Shot,Gun,False,False
4,655,Vanpaseuth Phaisouphanh,25.0,Male,Asian,6/10/2001,Riverside,CA,Shot,Knife,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8521,12871,Joseph Frank Kennedy,48.0,Male,White,9/18/2010,La Mirada,CA,Tasered,NaN,False,False
8522,12978,Daniel Sylvester,35.0,Male,White,6/22/2010,Crescent City,CA,Tasered,NaN,True,False
8523,12996,Mario Marin,53.0,Male,White,12/28/2011,Santa Ana,CA,Tasered,NaN,True,False
8524,13083,James Robert Hudson,34.0,Male,White,4/9/2011,Whittier,CA,Tasered,NaN,True,False
8525,12553,Christopher Jackson,34.0,Male,White,10/24/2009,Fresno,CA,Other,NaN,False,False

In [ ]:
#Checking that the null values of Race have been removed
df.isnull().sum()

UID                   0
Name                  0
Age                  68
Gender                0
Race                  0
Date                  0
City                  1
State                 0
Manner_of_death       0
Armed              3711
Mental_illness        0
Flee                  0
dtype: int64

## Data Wrangling

In [ ]:
numWhite = df['Race'].value_counts()['White']
print(numWhite)

3854